.navbar {
  background-color: #5e88b3;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-shadow: -1px -7px 32px -7px rgba(0, 0, 0, 0.75);
  position: relative; 
}

a {
  cursor: pointer;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: large;
  color: #ffffff;
  cursor: default;
  user-select: none;
}

.navbar-logo {
  width: 5rem;
}

.navbar-customer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  font-size: 1.1rem;
  color: #ffffff;
}

.navbar-menu {
  display: flex;
  gap: 2rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f5e798;
}

.logout {
  padding: 0.5rem;
  border-radius: 10px;
  user-select: none;
}

@media (max-width: 768px) {
  .navbar-customer {
    display: none;
  }
  
  .delivery-status-container {
    grid-template-columns: 1fr;
  }
}
